{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BarMenu | Bar Stock Exchange</title>

    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static '/css/home.css' %}" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/menu.css' %}" />

    <style>
        li.openedFooter {
            width: 135px !important;
            border-radius: 0 !important;
            box-shadow: none !important;
            border: none !important;
        }

        li.openedFooter span {
            color: wheat !important;
            font-weight: 600;
            text-align: right;
        }
    </style>
</head>

<body class="MenuPage" id="body" data-drink="{{drinktype}}">

    <header>
        <img class="logo" src="{% static '/images/Logo/cover.png' %}" alt="" />
    </header>

    <div class="heading">
        <span class="headingName">{{drinkname}}</span>
        <span class="headingName"> <a href="{% url 'explorePage' %}">Back</a> </span>
    </div>

    <div class="modal remove" id="modal">
        <div class="quantityModal remove" id="quantity">
            <div class="header">
                <button id="backBtn" onclick="modalClose()">Back</button>
                <span id="dishType">{{drinkname}}</span>
            </div>

            <div class="dish">
                <h2 id="dishName"></h2>
                <h4>Select Quantity</h4>
                <ul id="quantityList">

                </ul>
            </div>
        </div>

        <div class="confirmModal remove" id="confirm">
            <h2 id="dishName2"></h2>
            <h4 id="quantity1"></h4>
            <h4>Are you Sure ?</h4>
            <div class="flexbox" id="submitDish">

            </div>

        </div>
        
    </div>

    <div class="itemList" id="drinkList">

        {% for drink in all_drinks %}

        <div class="item">
            <div class="left">
                <span>{{ drink.name }} <br> <span class="price"> ₹
                        {{ drink.current_price }}</span> </span>
            </div>

            <div class="right">
                <div class="right-2">
                    <button class="addbutton" 
                        data-name="{{ drink.name }}" 
                        data-price="{{ drink.current_price }}" 
                        data-savings="{{ drink.savings }}"
                        data-type="{{ drinkname }}" 
                        onclick="addFunction(this)">
                        ADD 
                    </button>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

    <footer>
		<div class="footerGrid">
			<a href="{% url 'homePage' %}">
				<li id="homeSlide" class="footerTab " >
					<img src="{% static '/images/home.png' %}" alt="" />
					<img src="{% static '/images/home1.png' %}" alt="" />
					<span>Home</span>
				</li>
			</a>
	
			<a href="{% url 'explorePage' %}">
				<li id="exploreSlide" class="footerTab" >
					<img src="{% static '/images/explore.png' %}" alt="" />
					<img src="{% static '/images/explore1.png' %}" alt="" />
					<span>Explore</span>
				</li>
			</a>
	
			<a href="{% url 'orderPage' %}">
				<li id="orderSlide" class="footerTab" >
					<img src="{% static '/images/ordered.png' %}" alt="" />
					<img src="{% static '/images/ordered1.png' %}" alt="" />
					<span>Order</span>
				</li>
			</a>

            <a href="{% url 'logoutUser' %}">
				<li id="orderSlide" class="footerTab" >
					<i style="color:white" class="fas fa-sign-out-alt"></i>
					<span>Logout</span>
				</li>
			</a>

		</div>

		

	</footer>

    <script src="{% static 'js/barmenu.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    {% comment %} <script>
        function confirmDrink(dname, dqty, dprice, dsavings, dtype) {
            modalClose();

            $.ajax({
                type: "POST",
                url: "{% url 'main:chatroom' '1' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",   // < here 
                    state: "inactive",
                    dname: dname,
                    dtype: dtype,
                    dqty: dqty,
                    dprice: dprice,
                    dsavings: dsavings,
                },
                success: function () {
                    window.location.href = '/home/1/'
                }
            });
        }
    </script>

    <script>

        function modalClose() {
            var modal = document.getElementById("modal");
            var quantity = document.getElementById("quantity");

            modal.classList.add("remove");
            quantity.classList.add("remove");
        }

        function modal(dish) {
            var modal = document.getElementById("modal");
            var quantity = document.getElementById("quantity");
            var quantityList = document.getElementById("quantityList");
            var dishType = document.getElementById("dishType");
            var dishName = document.getElementById("dishName");

            dishType.innerHTML = dish.dataset.type
            dishName.innerHTML = dish.dataset.name

            dname = dish.dataset.name
            dtype = dish.dataset.type
            dprice = dish.dataset.price
            dsavings = dish.dataset.savings
            dtype = dish.dataset.type

            modal.classList.remove("remove");
            quantity.classList.remove("remove");

            quantityList.innerHTML = "";

            for (let i = 1; i <= 10; i++) {
                quantityList.innerHTML += `
                    <li onclick = "confirmDrink('${dname}', '${i}', '${dprice}', '${dsavings}', '${dtype}')">${i}</li>
                `
            }
        }

    </script>

    <script>
        var drinkList = document.getElementById("drinkList");

        drinktype = $('#body').data().drink;

        function getPage() {
            drinkList.innerHTML = ""
            fetch("../barmenu/ajax/" + drinktype)
                .then(e => e.json()).then(all_drinks => {
                    for (drink of all_drinks) {
                        drinkList.innerHTML += `
                        <div class="item">
                            <div class="left">
                                <span>${drink.fields.name}<br> <span class="price"> ₹
                                        ${drink.fields.current_price}</span> </span>
                            </div>

                            <div class="right">
                                <div class="right-2">
                                    <button class="addbutton" data-name="${drink.fields.name}" data-type="${drinktype}"
                                        data-price="${drink.fields.current_price}" data-savings="${drink.fields.savings}" data-type="${drinktype}" onclick="modal(this)">
                                        ADD </button>
                                </div>
                            </div>
                        </div>
                        `
                    }

                })
        }

        setInterval(getPage, 5000);

    </script> {% endcomment %}

</body>

</html>