@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

root {
  --orange: #ef6848;
  --black: #181818;
  --darkGray: #313131;
  --white: #ffffff;
  --lightOrange: #ff9c51;
  --yellowOrange: #ffb650;
  --placeholder: #8f8f8f;
}



@media only screen and (max-width: 500px) {

  .explorePage {
    height: 650px;
    overflow-y: scroll;
  }

  /* Heading */
  .explorePage .explore {
    color: white;
    font-family: "Raleway", sans-serif;
    width: 9em;
  }

  .explorePage {
    overflow-y: hidden;
  }

  .explorePage .cuisinelisting {
    height: 600px;
    overflow-y: scroll;
    margin-top: 10px;
  }

  /* Cusines  */
  .explorePage .cusines {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 5%;
    margin: 0 2.5%;
    padding-bottom: 100px;
  }

  .explorePage .cusines .cusinecover {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    margin-top: -42px;
  }

  .explorePage .cusines .label {
    letter-spacing: 1px;
  }

  .explorePage .heading h2 {
    margin-bottom: 5px;
  }

  .cusines .label h4 {
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 14px;
    color: white;
    font-weight: 600;
  }

  .cusines .label .label-cuisine {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0 0 15px 15px;
    left: 0;
  }

  .cusines .cuisine1 {
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    height: 240px;
    width: 300px;
    box-shadow: 5px 5px 15px black;
    border-radius: 15px;
  }

  .cusines .label {
    position: relative;
  }

  .label .bg-item {
    position: absolute;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
  }

  .cusines .cuisine1 .photo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
  }

  .cusines .cuisine1 .label {
    position: absolute;
    bottom: -1px;
    background: black;
    background: rgba(0, 0, 0, 0.3);
    height: 47px;
    color: white;
    width: 100%;
    border-radius: 0 0 15px 15px;
    left: 0;
    font-family: "Raleway", sans-serif;
    backdrop-filter: blur(3px);
  }

  .explorePage .topHorizontal {
    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .explorePage .topHorizontal::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
    display: none;
  }

  .explorePage .topHorizontal {
    display: block;
    overflow: auto;
    white-space: nowrap;
    margin-top: 0;
  }

  .explorePage .topHorizontal ul {
    padding: 0 20px;
  }

  .explorePage .topHorizontal ul li {
    display: inline-block;
    padding: 0 20px;
    font-weight: 500;
    color: #8f8f8f;
  }

  .explorePage .topHorizontal ul li.active {
    color: var(--orange);
    position: relative;
  }

  .explorePage .topHorizontal ul li.active::after {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 50%;
    bottom: -10px;
    left: 48%;
    background-color: var(--orange);
  }

  .explorePage .cusines {
    display: none;
  }

  .explorePage .cusines.active {
    display: block;
  }

  footer .footerGrid li.active {
    background-color: #2b2b2b;
    border-radius: 25px;
    width: 100px;
    position: relative;
    /* box-shadow: 2px 2px 4px #030303c4; */
    border: 2px solid #181818;
    border-style: ridge;
    box-shadow: -7px -7px 15px rgba(70, 70, 70, 0.575), 5px 5px 15px #030303c4;
    box-shadow: -7px -7px 15px rgba(46, 46, 46, 0.575), 5px 5px 15px #030303c4;
  }

  /* footer .footerGrid li.active span {
    display: inline-block;
    position: absolute;
    color: var(--orange);
    top: 9px;
    left: 45px;
  } */
}
