/* This CSS is for common Elements Like: 
    Bottom Nav-Bar, Background, Body, Loader,
    All Headers, etc. */

/* em - For Padding, Margin, Width & Height
   rem - For Font/ Text Styling */

/* 10vh - header 8vh - Footer */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --orange: #ef6848;
  --black: #181818;
  --darkGray: #313131;
  --white: #ffffff;
  --lightOrange: #ff9c51;
  --yellowOrange: #ffb650;

  /* To Use Variables Do This : var(--white) */
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--black);
  background-size: 100vw 100vh;
  background-image: linear-gradient(135deg, #363636, #212529, #14171a);
  font-family: "Montserrat", sans-serif;
}

a{
  text-decoration: none;
}

.logo {
  margin: 20px 0 !important;
  width: 60%;
  height: 10%;
}

.logo img {
  width: 80%;
  height: 10%;
}

h3 {
  color: var(--white);
  font-weight: 300;
  font-size: 1rem;
  margin-top: 0;
}

.heading {
  padding: 10px;
}

header {
  padding: 5px 20px 0px;
  display: flex;
  justify-content: center;
  color: wheat;
  height: 5%;
}

span.headingName {
  margin-left: 20px;
  height: 25px;
  display: inline-block;
  border-radius: 10px;
  line-height: 25px;
  padding: 5px 25px;
  border: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  outline: none;
  box-shadow: -3px -3px 10px #fc48205e, 2px 2px 10px #fc48205e;
  background-image: linear-gradient(45deg, #fc4820, #ef6848);
}
